<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            com.servlets.dbhelpers.DBManagerSetup
        </listener-class>
    </listener>

    <context-param>
        <param-name>defaultWebBase</param-name>
        <param-value>javaee_war_exploded</param-value>
    </context-param>
    <context-param>
        <param-name>baseURL</param-name>
        <param-value>http://localhost:8082/javaee_war_exploded</param-value>
    </context-param>
    <context-param>
        <param-name>copyright</param-name>
        <param-value>2142</param-value>
    </context-param>
    <context-param>
        <param-name>weblink</param-name>
        <param-value>http://www.infiniteskills.com</param-value>
    </context-param>
    <context-param>
        <param-name>dbuserid</param-name>
        <param-value>dbuser</param-value>
    </context-param>
    <context-param>
        <param-name>dbuserpwd</param-name>
        <param-value>12dbuser</param-value>
    </context-param>
    <context-param>
        <param-name>dbinitcat</param-name>
        <param-value>world</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/errorHandler.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorHandler.jsp</location>
    </error-page>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AccessWorldData</web-resource-name>
            <url-pattern>/Protected/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>Admin</role-name>
            <role-name>Authorized_User</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role><role-name>Admin</role-name></security-role>
    <security-role><role-name>Authorized_User</role-name></security-role>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>